<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:a="http://xmlns.jcp.org/jsf/passthrough" 
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<title>Besuchersystem</title>
		<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="js/jquery.timepicker.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('input.timepicker').timepicker({
			    	 timeFormat: 'HH:mm:ss',
			         startTime: new Date(0, 0, 0, new Date().getHours(), 0, 0),
			    	 interval: 15
				});
			});
		</script>
		<link type="text/css" rel="stylesheet" href="css/jquery.timepicker.min.css"/>
		<style type="text/css">
			body {
				zoom: 1.5;
				font-family: arial, helvetica, sans-serif;
				background: #e6faff;
				font-size:11px;
			}
			
			input[type=submit] {
				margin-right: 5px;
			}
			
			a {
				text-decoration: none;
				color: #555555;
			}
			
			.filterDescription {
				width: 100px;
			}
		
			table {
				font-size:11px;
				color:#333333;
				border-width: 1px;
				border-color: #666666;
				border-collapse: collapse;
			}
			
			th {
				border-width: 1px;
				padding: 8px;
				border-style: solid;
				border-color: #666666;
				background-color: #dedede;
				text-align: left;
			}
			
			td {
				border-width: 1px;
				padding: 8px;
				border-style: solid;
				border-color: #666666;
				background-color: #ffffff;
			}
		</style>
	</h:head>
	<h:body>
		<div id="header">
			<h1><a href="/visitorSystem/index.xhtml">Besuchersystem</a></h1>
		</div>
		
		<div id="body">
			<h:form>
				Besucher<br/>
				<h:inputText a:autofocus="true" value="#{addVisitor.visitor.visitorName}" label="Besucher"/><br/><br/>
				
				Empfänger<br/>
				<h:inputText value="#{addVisitor.visitor.receiverName}" label="Empfänger"/><br/><br/>
				
				Kommzeit<br/>
				<h:inputText styleClass="timepicker" value="#{addVisitor.visitor.arriveTime}" label="Kommzeit"/><br/><br/>
				
				Gehzeit<br/>
				<h:inputText styleClass="timepicker" value="#{addVisitor.visitor.leaveTime}" label="Gehzeit"/><br/><br/><br/>
				
				<h:commandButton action="index" value="Abbrechen" immediate="true"/>
				<h:commandButton action="#{addVisitor.save()}" value="Speichern" />
			</h:form>
		</div>
	</h:body>
</html>