<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:a="http://xmlns.jcp.org/jsf/passthrough" 
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<title>Besuchersystem</title>
		<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$( "input.datepicker" ).datepicker({ dateFormat: "dd.mm.yy" });  
			});
		</script>
		<link type="text/css" rel="stylesheet" href="css/jquery-ui.min.css"/>
		<style type="text/css">
			body {
				zoom: 1.5;
				font-family: arial, helvetica, sans-serif;
				background: #e6faff;
				font-size:11px;
			}
			
			a {
				text-decoration: none;
				color: #555555;
			}
			
			.filterDescription {
				width: 100px;
			}
			
			.ui-icon-circle-triangle-w {
				background: #777;
			}
			
			.ui-icon-circle-triangle-e {
				background: #777;
			}
		
			table {
				font-size:11px;
				color:#333333;
				border-width: 1px;
				border-color: #666666;
				border-collapse: collapse;
			}
			
			th {
				border-width: 1px;
				padding: 8px;
				border-style: solid;
				border-color: #666666;
				background-color: #dedede;
				text-align: left;
			}
			
			td {
				border-width: 1px;
				padding: 8px;
				border-style: solid;
				border-color: #666666;
				background-color: #ffffff;
			}
		</style>
	</h:head>
	<h:body>
		<div id="header">
			<h1><a href="/visitorSystem/index.xhtml">Besuchersystem</a></h1>
			<h:form action="#{securityBean.logout()}">
				<h:commandButton value="Logout"/>
			</h:form>
		</div>
		
		<div id="body">
			<h:form  onkeypress="if (event.keyCode == 13) { return false; } onkeypress(event)">
				<h3>Filter</h3>
				
				Besucher
				<h:inputText a:autofocus="true" id="filterVisitorName" value="#{visitorDao.filterVisitorName}" label="Besucher">
					<f:ajax event="keyup" execute="filterVisitorName" render="visitorTable"/>
				</h:inputText>
				
				Empfänger
				<h:inputText id="filterReceiverName" value="#{visitorDao.filterReceiverName}" label="Empfänger">
					<f:ajax event="keyup" execute="filterReceiverName" render="visitorTable"/>
				</h:inputText>
				
				Datum
				<h:inputText styleClass="datepicker" id="filterDate" value="#{visitorDao.filterDate}" label="Datum">
					<f:ajax event="change" execute="filterDate" render="visitorTable"/>
				</h:inputText>
				
				<h3>Besucherliste</h3>
				<h:commandButton image="images/add.png" value="Add" action="#{addVisitor.add()}"/>
	
				<h:dataTable id="visitorTable" value="#{visitorDao.filtered}" var="visitor">
					<h:column>
						<f:facet name="header">
							<h:outputText value="Besuchername"/>
							<br/>
						</f:facet>
						<h:outputText value="#{visitor.visitorName}"/>
					</h:column>
	
					<h:column>
						<f:facet name="header">
							<h:outputText  value="Empfängername"/>
						</f:facet>
						<h:outputText value="#{visitor.receiverName}"/>
					</h:column>
					
					<h:column>
						<f:facet name="header">
							<h:outputText  value="Datum"/>
						</f:facet>
						<h:outputText value="#{visitor.date}"/>
					</h:column>
					
					<h:column>
						<f:facet name="header">
							<h:outputText  value="Kommzeit"/>
						</f:facet>
						<h:outputText value="#{visitor.arriveTime}"/>
					</h:column>
				  
					<h:column>
						<f:facet name="header">
							<h:outputText  value="Gehzeit"/>
						</f:facet>
						<h:outputText value="#{visitor.leaveTime}"/>
					</h:column>
					
					<h:column>
						<f:facet name="header">
					     	<h:outputText  value="Optionen"/>
						</f:facet>
						
						<h:commandButton image="images/edit.png" value="Edit" action="#{editVisitor.edit(visitor)}"/>						
						<h:commandButton image="images/delete.png" value="Delete" action="#{editVisitor.delete(visitor)}"/>		
						<h:commandButton image="images/checkOut.png" value="CheckOut" action="#{editVisitor.checkOut(visitor)}"/>
					</h:column>
				</h:dataTable>
			</h:form>
		</div>
	</h:body>
</html>
