<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<title>Besuchersystem - Login</title>
		<style type="text/css">
			body {
				zoom: 1.5;
				font-family: arial, helvetica, sans-serif;
				background: #e6faff;
				font-size:11px;
			}
			
			a {
				text-decoration: none;
				color: #555555;
			}
		</style>
	</h:head>
	<h:body>
		<div id="header">
			<h1><a href="/visitorSystem/faces/index.xhtml">Besuchersystem</a></h1>
		</div>
		
		<div id="body">
			<p>Login was successful as user #{securityBean.loginName} (#{securityBean.user.name})</p>
		</div>
	</h:body>
</html>

