<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<h:head>
		<title>Besuchersystem - Login</title>
		<style type="text/css">
			body {
				zoom: 1.5;
				font-family: arial, helvetica, sans-serif;
				background: #e6faff;
				font-size:11px;
			}
			
			a {
				text-decoration: none;
				color: #555555;
			}
		</style>
	</h:head>
	<h:body>
		<div id="header">
			<h1>Besuchersystem - Login</h1>
		</div>
		
		<div id="body">
			<form name="loginForm" method="POST" action="j_security_check">
				<p>
					<strong>Enter your user name: </strong> <input type="text" name="j_username" size="15" />
				</p>
				<p>
					<strong>Enter your password: </strong> <input type="password" size="15" name="j_password" />
				</p>
				<p>
					<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
				</p>
			</form>
		</div>
	</h:body>
</html>
